<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script type="text/javascript">
        constants = {
            login: '@Url.RouteUrl("DefaultApi", new {controller = "Auth", action = "login" })',
            subjects: '/api/Subject',
            courses: '/api/Course',
            groups: '/api/Group',
        }
    </script>

    <style>

        body {
            background-color: #fcfcfc;
        }

        .main{
            padding: 15px;
        }

        .std-form{
            max-width: 480px;
            width: 100%;
            margin-left: auto;
            margin-right: auto;
        }

        .navbar {
            border-radius: 0px;
        }

        .loader{
            width: 80px;
            height: 80px;
            margin-left: auto;
            margin-right: auto;
            margin-top: 100px;
        }

        .loader img{
            width: 100%;
            height: 100%;
        }

        /*lists*/
        .top-bar{
            display: flex;
        }
        .top-bar .actions{
           margin-left: auto; 
           display: flex;
        }

        .table tr td:last-child{
            text-align: right;
        }

        .table .form {
            justify-content: flex-end;
        }

        .accordion{
            width: 100%;
        }

        .accordion ul{
           margin: 0;
        }

        .top-bar .actions .action{
            margin-left: 10px;
            
        }

        form .alert ul {
            margin:0;
        }
        /*lists*/

     </style>

    <title>Учет студентов</title>

</head>
<body>

    <div id="content">
    </div>

            <script type="text/javascript" src="@Url.Content("~/assets/bundle.js")"></script>
</body>
</html>
