<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script type="text/javascript">
        constants = {
            login: '@Url.RouteUrl("DefaultApi", new {controller = "Auth", action = "login" })',
            register: '@Url.RouteUrl("DefaultApi", new {controller = "Account", action = "register" })',
            subjects: '/api/Subject',
            subjectsForTeacher: '/api/Subject/get-subjects-for-teacher',
            courses: '/api/Course',
            groups: '/api/Group',
            groupsForTeacher: '/api/Group/get-groups-for-teacher',
            groupsBySubjects: '/api/Group/get-by-subjects',
            students: '/api/Student',
            teachers: '/api/Teacher',
            teachersAssingToSubject: '/api/Teacher/assing-to-subject',
            teachersAssingToGroups: '/api/Teacher/assing-to-groups',
            magazine: '/api/Magazine/get-attendences',
            magazineCreate: '/api/Magazine/create-magazine',
            getMagazineById: '/api/Magazine/get-magazine-by-id',
            magazineCreateRecord: '/api/Magazine/create-records',
            magazineCreateComments: '/api/Magazine/create-comments',
            subjectsForTeacherByGroup: '/api/Subject/subjects-for-teacher',
            groupsForTeacher: '/api/Group/groups-for-teacher',
            createAttestation: '/api/Attestation/create-attestation',
            getAttestation: '/api/Attestation/get-attestations',
            getAttestationById: '/api/Attestation/get-attestation-by-id',
            getGroupsBySubject: '/api/Attestation/get-groups-by-subject',
            createAttestationRecord: '/api/Attestation/create-attestation-record',
            getAllAttestationRecords: '/api/Attestation/get-attestation-records',
            deleteMagazine: '/api/Magazine',

            getMagazineAsJson: '/api/Magazine/get-magazine-as-json',
            getAttestationAsJson: '/api/Attestation/get-attestation-as-json',

            getMagazineDocx: "http://localhost:5544/api/Attendance/DownloadAttendance",
            getAttestationDocx: "http://localhost:5544/api/Attestation/DownloadAttestation",

        };
    </script>

    <style>

        body {
            background-color: #fcfcfc;
        }

        .main{
            padding: 15px;
        }

        .std-form{
            max-width: 480px;
            width: 100%;
            margin-left: auto;
            margin-right: auto;
        }

        .navbar {
            border-radius: 0px;
        }

        .loader{
            width: 80px;
            height: 80px;
            margin-left: auto;
            margin-right: auto;
            margin-top: 100px;
        }

        .loader img{
            width: 100%;
            height: 100%;
        }

        /*lists*/
        .top-bar{
            display: flex;
        }
        .top-bar .actions{
           margin-left: auto; 
           display: flex;
        }

        .table tr td:last-child{
            text-align: right;
        }

        .table .form {
            justify-content: flex-end;
        }

        .accordion{
            width: 100%;
        }

        .accordion ul{
           margin: 0;
        }

        .top-bar .actions .action{
            margin-left: 10px;
            
        }

        form .alert ul {
            margin:0;
        }

        .table-wrap {
            overflow-x: scroll;
        }

        
        /*lists*/

     </style>

    <title>Учет студентов</title>

</head>
<body>

    <div id="content">
    </div>

            <script type="text/javascript" src="@Url.Content("~/assets/bundle.js")"></script>
</body>
</html>
